* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Gistesy';
    src: url('./assets/fonts/Gistesy.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lexend Giga';
    src: url('./assets/fonts/LexendGiga-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Moontime';
    src: url('./assets/fonts/MoonTime-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'BeautifullyDelicious';
    src: url('./assets/fonts/BDScript-Regular.otf') format('truetype');
  }

  @font-face {
    font-family: 'Halimun';
    src: url('./assets/fonts/Halimun.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Tex Gyre Termes';
    src: url('./assets/fonts/texgyretermes-regular.otf') format('truetype');
  }