* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Gistesy';
    src: url('./assets/fonts/Gistesy.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lexend Giga';
    src: url('./assets/fonts/LexendGiga-ExtraLight.ttf') format('truetype');
  }