.category-menu {
    text-align: center;
    max-width: 90%;
    margin: 20px 0px;


    button {
        background: none;
        color: inherit;
        border: none;
        padding: 12px 0px;
        margin: 0px 12px;
        font: inherit;
        text-decoration: none;
        transition: border-bottom .2s ease;
        border-bottom: 4px solid white;
        text-transform: uppercase;

        &:hover,
        &:focus {
            border-bottom: 4px solid #adbea3;
            cursor: pointer;
        }
    }
}