@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.card {
    position: relative;    
}

.table1{
   position: absolute;
   top: 40%;
   left: 5%;
}

.table2{
    position: absolute;
    top: 40%;
    left: 25%;
 }

 .table3{
    position: absolute;
    top: 40%;
    left: 45%;
 }

 .table4{
    position: absolute;
    top: 40%;
    left: 65%;
 }


 .table5{
    position: absolute;
    top: 65%;
    left: 5%;
 }
 
 .table6{
     position: absolute;
     top: 65%;
     left: 25%;
  }
 
  .table7{
     position: absolute;
     top: 65%;
     left: 45%;
  }
 
  .table8{
     position: absolute;
     top: 65%;
     left: 65%;
  }

#glbrideName{
   position: absolute;
   top: 13%;
   left: 30%;
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
}
#glampersand{
   position: absolute;
   top: 19%;
   left: 47%;
   font-size: 3rem;
   font-family: 'Great Vibes', cursive;
}
#glgroomName{
   position: absolute;
   top: 22%;
   left: 55%;
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
}

.card img{
    height: auto;
    width: 90%;
    margin: 1rem;
}
.tableMembers{
   list-style-type: none;
}
.tableMembers li{
   margin: 0 !important;
   padding: 0;
   font-size: .75rem;
   text-align: center;
}