@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.card {
    position: relative;    
}

.table1{
   position: absolute;
}

.table2{
    position: absolute;
 }

 .table3{
    position: absolute;
 }

 .table4{
    position: absolute;
 }


 .table5{
    position: absolute;
 }
 
 .table6{
     position: absolute;
  }
 
  .table7{
     position: absolute;
  }
 
  .table8{
     position: absolute;
  }

#guestlistbride{
   position: absolute;
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
}
#glampersand{
   position: absolute;
   font-size: 3rem;
   font-family: 'Great Vibes', cursive;
}
#guestlistgroom{
   position: absolute;
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
}

.card img{
    height: auto;
    width: 90%;
    margin: 1rem;
}
.tableMembers{
   list-style-type: none;
}
.tableMembers li{
   margin: 0 !important;
   padding: 0;
   font-size: .75rem;
   text-align: center;
}