@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

  
  .card {
      position: relative;    
  }

  #invitationbride{
    position: absolute;
    top: 38%;
    left: 10%;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
 }


 #invitationgroom{
    position: absolute;
    top: 48%;
    left: 20%;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
 }

 #invitationdate{
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 1rem;
}

#invitationtime{
  position: absolute;
  top: 68%;
  left: 10%;
  font-size: 1rem;
}

#invitationlocation{
  position: absolute;
  top: 71%;
  left: 10%;
  font-size: 1rem;
}