.profile-page {

    .react-tabs {
        display: flex;
        margin-left: 36px;
        width: 470px;
        height: 400px;
    }

    .react-tabs__tab-list {
        display: flex;
        flex-direction: column;
        width: 170px;
        margin: 0;
        padding: 0;
        color: #454545;
        background: #fafafa;
    }

    .react-tabs__tab {
        height: 70px;
        list-style: none;
        padding: 12px 6px;
        cursor: pointer;
        color: #bbb;
    }

    .react-tabs__tab--selected {
        background: #1c1d1f;
        border-color: #1c1d1f;
        border-left: 4px solid #adbea3;
        color: white;
    }

    .react-tabs__tab-panel {
        display: none;
        width: 800px;
    }

    .react-tabs__tab-panel--selected {
        display: block;
    }

    .react-tabs__tab {
        padding-left: 24px;
    }

    .react-tabs__tab--selected {
        padding-left: 21px;
    }

    .panel-content {
        text-align: center;
    }
}