.profile-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .react-tabs {
        display: flex;
        background-color: #fafafa;
        flex-direction: row;
        width: 100%;

        .react-tabs__tab-list {
            display: flex;
            flex-direction: column;
            width: 214px;
            color: #454545;
            background: #fafafa;
            height: calc(100vh - 80px);

            .react-tabs__tab {
                height: 80px;
                list-style: none;
                padding: 14px;
                cursor: pointer;
                color: #bbb;
                text-align: left;
                display: flex;
                justify-content: left;
                align-items: center;
                border-bottom: 1px solid lightgrey;
            }

            .react-tabs__tab p span {
                margin-right: 10px;
            }

            .react-tabs__tab--selected {
                background: #adbea3;
                border-color: #adbea3;
                border-left: 4px solid #1c1d1f;
                color: white;
            }
        }

        .react-tabs__tab-panel {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100vw - 231px);
                background-color: white;
                padding: 30px;
                margin: 0 auto;
                min-height: calc(100vh - 80px);

                h2 {
                    font-size: 40px;
                    padding-bottom: 20px;
                    font-family: 'Gistesy', sans-serif;
                    letter-spacing: 2px;
                    text-align: center;
                    font-weight: 200;
                }

                #account {
                    margin-left: 170px;
                }

                .panel-content {
                    text-align: center;
                    background-color: #f3f3f3;
                    padding: 14px;
                    margin-bottom: 30px;

                    h3 {
                        margin-bottom: 10px;
                        font-size: 1.0em;
                    }

                    p {
                        max-width: 700px;
                        font-size: 1.2em;
                        line-height: 1.5;
                    }

                    .order-card,
                    .fav-card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 10px;

                        .product-link {
                            margin-top: 16px;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: black;

                            &:hover {
                                text-decoration: underline;
                                color: #749a5e;
                            }
                        }

                        .product-img {
                            width: 250px;
                            margin-top: 26px;
                        }
                    }
                }

                .account-details-page {

                    .react-tabs {
                        display: flex;
                        flex-direction: row;
                        width: calc(100vw - 231px);
                        background-color: white;

                        .react-tabs__tab-list {
                            display: flex;
                            flex-direction: column;
                            width: 170px;
                            color: #454545;
                            background: #fafafa;
                            height: auto;

                            .react-tabs__tab {
                                height: 80px;
                                list-style: none;
                                padding: 14px;
                                cursor: pointer;
                                color: #bbb;
                                text-align: left;
                                display: flex;
                                justify-content: left;
                                align-items: center;
                                border-bottom: 1px solid lightgrey;
                            }

                            .react-tabs__tab--selected {
                                background: #adbea3;
                                border-color: #adbea3;
                                border-left: 4px solid #1c1d1f;
                                color: white;
                            }
                        }

                        .react-tabs__tab-panel {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            align-items: center;
                            width: calc(100vw - 401px);

                            p {
                                padding-top: 30px;
                                padding-left: 30px;
                                padding-right: 30px;
                                width: 100%;
                                max-width: 750px;
                                margin: 0 auto;
                                line-height: 1.5;
                                text-align: left;

                                &:nth-of-type(2) {
                                    font-weight: bold;
                                }
                            }

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 0 auto;
                                padding: 30px;

                                .formInput {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    margin: 0 auto;

                                    label {
                                        width: 100%;
                                        max-width: 550px;
                                        text-align: left;
                                        text-transform: uppercase;
                                        padding-bottom: 4px;
                                        font-size: 14px;
                                    }

                                    input {
                                        border: 0;
                                        background: #E4e4e4;
                                        font-size: 14px;
                                        padding: 10px;
                                        font-family: inherit;
                                        font-weight: 600;
                                        color: black;
                                        margin-bottom: 20px;
                                        width: 100%;
                                        max-width: 550px;
                                    }

                                    button {
                                        background: #adbea3;
                                        color: inherit;
                                        font: inherit;
                                        cursor: pointer;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        font-weight: 600;
                                        letter-spacing: 3px;
                                        text-decoration: none;
                                        padding: 12px 40px;
                                        border: 1px solid #adbea3;
                                        white-space: nowrap;
                                        width: 200px;
                                        margin: 10px auto;

                                        &:hover {
                                            background-color: #bdcbb5;
                                            border: 1px solid #bdcbb5;
                                        }
                                    }

                                    .delete-button {
                                        color: #d47d7d;
                                        border: 1px solid #d47d7d;
                                        background: none;

                                        &:hover {
                                            background-color: #d47d7d;
                                            border: 1px solid #d47d7d;
                                            color: black;
                                        }
                                    }
                                }
                            }

                            .modal {
                                display: flex;
                                position: fixed;
                                justify-content: center;
                                align-items: center;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: rgba(0, 0, 0, 0.4);
                                z-index: 1000;
                            }
                    
                            .modal div {
                                background-color: #fefefe;
                                padding: 30px 30px;
                                border: 1px solid #888;
                                width: 80%;
                                max-width: 700px;
                    
                                p {
                                    padding: 0;
                                }
                            }
                    
                            .close {
                                color: #aaa;
                                float: right;
                                font-size: 20px;
                                font-weight: bold;
                                padding: 0 6px;
                                margin-left: 10px;
                            }
                    
                            .close:hover,
                            .close:focus {
                                color: black;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }

                        .react-tabs__tab-panel--selected {
                            display: block;
                        }
                    }
                }
            }
        }

        .react-tabs__tab-panel--selected {
            display: block;
        }
    }
}