// CartItem.js styles
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
}

.item-details p {
    margin: 0;
    font-size: 14px;
}

.remove-button {
    // Styles for remove from cart button
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #adbea3;
    color: white;
    font: inherit;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}