
#thankyoubride{
    font-size: 0.9em;
    font-family: 'Halimun', cursive;
}


#tyampersand{
    font-size: 0.9em;
    font-family: 'Halimun', cursive;
}

#thankyougroom{
    font-size: 0.9em;
    font-family: 'Halimun', cursive;
}