@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

  
.card {
    position: relative;    
}

#thankyoubride{
    display: block;
    position: absolute;
    top: 70%;
    left: 1%;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    text-align: right; 
    width:43%
    
}


#tyampersand{
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    
}

#thankyougroom{
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    text-align: left;
}