header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    top: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1000;

    .logo {
        img {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: auto;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 21vw;

        a {
            font-size: 24px;
            color: #343131;
            display: block;
            line-height: 50px;
            text-decoration: none;
            position: relative;

            i {
                transition: all 0.3s ease-out;
            }

            .icon-container,
            .text-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .text-container {
                display: none;
            }

            &:hover {
                color: #25282a;

                .icon-container {
                    display: none;
                }

                .text-container {
                    display: flex;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }

        a.active {
            svg {
                color: #adbea3;
            }
        }
    }

    .hamburger {
        display: none;
        position: absolute;
        top: 20px;
        right: 50px;
        width: 35px;
        height: 35px;
        z-index: 1001;
        background-color: #343131;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        padding: 5px;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #adbea3; 
        }
    }
    
    .mobile-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(173, 190, 163, 0.5);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;
        z-index: 999;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 18px;
            font-weight: bolder;
            color: #343131;
            line-height: 50px;
            text-decoration: none;
            position: relative;

            &:hover {
                color: #a6d194;
            }
        }
    }

    @media screen and (max-width: 768px) {
        nav {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .mobile-menu {
            display: block;
        }
    }

    @media screen and (min-width: 769px) {
        nav {
            display: flex;
        }

        .hamburger {
            display: none;
        }

        .mobile-menu {
            display: none;
        }
    }
}