.logout-page {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/images/yohann-libot-GFjNDSSYIA4-unsplash.jpg'); // Add this line, adjust the filename as needed.
    background-size: cover;
    background-position: center;
    padding: 30px 0;

    &::before {
        content: ""; // This is required for the pseudo-element to show.
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.1);
    }

    .page-content {
        position: relative;
        margin: auto 0px;
        width: 90%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;

        @media (min-width: 768px) {
            width: 80%;
            padding: 50px;
        }

        @media (min-width: 1200px) {
            width: 50%;
            padding: 50px;
        }

        h1 {
            font-size: 70px;
            color: white;
            padding-bottom: 30px;
            font-family: 'Gistesy', sans-serif;
            letter-spacing: 2px;
            text-align: center;
            font-weight: 200;
        }

        .text-area {

            h2,
            p {
                padding-bottom: 20px;
                line-height: 1.5;
                color: white;
            }
        }

        .button-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @media (min-width: 768px) {
                flex-direction: row;
                justify-content: center;
                gap: 40px;
            }

            button {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: #adbea3;
                color: inherit;
                font: inherit;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 3px;
                text-decoration: none;
                padding: 12px 0;
                border: 1px solid #adbea3;
                white-space: nowrap;
                width: 150px;


                &:hover {
                    background-color: #bdcbb5;
                    border: 1px solid #bdcbb5;
                }
            }

            .logout-button {
                color: #d47d7d;
                border: 1px solid #d47d7d;
                background: none;

                &:hover {
                    background-color: #d47d7d;
                    border: 1px solid #d47d7d;
                    color: black;
                }
            }
        }
    }
}